<div>
    <div class="submit-form">
      <div *ngIf="!submitted">
        <div class="form-group">
          <label for="nome">Nome</label>
          <input
            type="text"
            class="form-control"
            id="nome"
            required
            [(ngModel)]="heroi.nome"
            name="nome"
          />
        </div>
  
        <div class="form-group">
          <label for="nomeCivil">Nome Civil</label>
          <input
            class="form-control"
            id="nomeCivil"
            required
            [(ngModel)]="heroi.nomeCivil"
            name="nomeCivil"
          />
        </div>

        <div class="form-group">
            <label for="universo">Universo</label>
            <input
              class="form-control"
              id="universo"
              required
              [(ngModel)]="heroi.universo"
              name="universo"
            />
          </div>
  
        <button (click)="salvar()" class="btn btn-success">Salvar</button>
      </div>
  
      <div *ngIf="submitted">
        <h4>Herói salvo com sucesso!</h4>
        <button class="btn btn-success" (click)="novo()">Novo</button>
      </div>
    </div>
  </div>